<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col" style="text-align: center;">Acciones</th>
            <th scope="col" style="text-align: center;">IVA</th>
        </tr>
    </thead>
    <tbody>
        <tr id="tabla" id="opciones" *ngFor="let producto of productos; let i = index" name="opciones">
            <td>{{producto.id}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio}}</td>
            <td *ngIf="producto.estado == true" style="text-align: center;">
                <button mat-raised-button (click)="desactivar(producto.id)" color="warn">DESACTIVAR
                    <!-- <mat-icon (click)="Despachar(pedido.id)">edit</mat-icon> -->
                </button>
                <button mat-raised-button style="margin-left: 10px;" (click)="EnviarPagina(producto.id)" color="primary">Editar
                    <!-- <mat-icon (click)="Despachar(pedido.id)">edit</mat-icon> -->
                </button>
            </td>
            <td *ngIf="producto.estado == false" style="text-align: center;">
                <button mat-raised-button (click)="activar(producto.id)" color="primary">ACTIVAR
                    <!-- <mat-icon (click)="Despachar(pedido.id)">edit</mat-icon> -->
                </button>
                <button mat-raised-button style="margin-left: 10px;" (click)="EnviarPagina(producto.id)" color="primary">Editar
                    <!-- <mat-icon (click)="Despachar(pedido.id)">edit</mat-icon> -->
                </button>
            </td>
            <td *ngIf="producto.iva == true" style="text-align: center;">
                <button mat-raised-button (click)="desactivarIVA(producto.id)" color="primary">Con IVA
                <!-- <mat-icon (click)="Despachar(pedido.id)">edit</mat-icon> -->
                </button>
            </td>
            <td *ngIf="producto.iva == false" style="text-align: center;">
                <button mat-raised-button (click)="activarIVA(producto.id)" color="warn">Sin IVA
                    <!-- <mat-icon (click)="Despachar(pedido.id)">edit</mat-icon> -->
                </button>
            </td>
        </tr>
    </tbody>
</table>
<button mat-raised-button style="margin-left: 10px;" [routerLink]="['/dashboard/nuevoProducto']" color="accent">Nuevo Producto
    <!-- <mat-icon (click)="Despachar(pedido.id)">edit</mat-icon> -->
</button>